<div class="row">
  <div class="text-center">
    <h1>Podcast + Transcribe = Podscribe</h1>
    <h3>Where Crowdsourcing meets Podcast Transcription</h3>
    <hr>
    <h3>Help Transcribe your favorite Podcasts now!</h3>
    
  </div>
</div>

<%= render 'podcasts/search' %>
<%# Ideas for launch page: http://www.smashingmagazine.com/2011/09/elements-of-a-viral-launch-page/ %>


