<div class="row">
  <div class="text-center">
    <h1>Podcast + Transcribe = Podscribe</h1>
    <h3>Where Crowdsourcing meets Podcast Transcription</h3>
    <hr>
    <!-- <h3>Help Transcribe your favorite Podcasts now!</h3> -->
    <h3>Podscribe will launch soon.</h3>
    <div>
      <a href="https://twitter.com/podscribe" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @podscribe</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>

    <%= render 'shared/mailchimp_teaser' %>
  </div>
</div>

<%#= render 'podcasts/search' %>
<%# Ideas for launch page: http://www.smashingmagazine.com/2011/09/elements-of-a-viral-launch-page/ %>


